.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .MuiPaper-root {
    background-color: rgba(63, 59, 59, 0.283) !important;
    color: white !important;
    border: 1px solid white;
    border-radius: 25px;
    width: 80%;
    margin: 15px;
  }

  .MuiTypography-subtitle1 {
    font-weight: bold;
  }

  .work-info {
    display: flex;
    justify-content: space-around;
    margin: -5px;
  }

  .job-description-list {
    margin: 20px;
    li {
      list-style: square;
      font-size: 17px;
      padding-bottom: 10px;
      text-align: left;

      span {
        position: relative;
        left: 20px;
      }
    }
  }
}
