.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .project-container {
    // width: 80%;

    .MuiCard-root {
      display: flex;
      flex-direction: column;
      align-items: center;

      .MuiButton-root {
        border: 1px solid gold;
        color: gold;
      }
    }

    .MuiPaper-root {
      background-color: rgba(63, 59, 59, 0.283) !important;
      color: white !important;
      border: 1px solid white;
      border-radius: 25px;
      width: 80%;
      margin: 15px;
      margin-left: 10%;

      p {
        text-align: left;
        padding-left: 15px;
      }
    }
  }
}
